<!DOCTYPE html>
<html>

<head>
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
       <h1>Conditional Rendering</h1>
       <button v-on:click="isError = !isError">Toggle Error</button>
       <button v-on:click="isSuccess = !isSuccess">Toggle Success</button>
       <p  v-if="isError">This is Error Message</p>
       <p  v-if="isSuccess">This is Success Message</p>
       <p  v-show="isError">This is Error Message</p>
       <p  v-show="isSuccess">This is Success Message</p>
    </div>

    <script src="App.js">

    </script>
</body>

</html>